/* roboto-latin-100-italic */
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-display: auto;
	font-weight: 100;
	src: url(@fontsource/roboto/files/roboto-latin-100-italic.woff2) format('woff2'), url(@fontsource/roboto/files/roboto-latin-100-italic.woff) format('woff');
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
  }
  
  /* roboto-latin-300-italic */
  @font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-display: auto;
	font-weight: 300;
	src: url(@fontsource/roboto/files/roboto-latin-300-italic.woff2) format('woff2'), url(@fontsource/roboto/files/roboto-latin-300-italic.woff) format('woff');
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
  }
  
  /* roboto-latin-400-italic */
  @font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-display: auto;
	font-weight: 400;
	src: url(@fontsource/roboto/files/roboto-latin-400-italic.woff2) format('woff2'), url(@fontsource/roboto/files/roboto-latin-400-italic.woff) format('woff');
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
  }
  
  /* roboto-latin-500-italic */
  @font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-display: auto;
	font-weight: 500;
	src: url(@fontsource/roboto/files/roboto-latin-500-italic.woff2) format('woff2'), url(@fontsource/roboto/files/roboto-latin-500-italic.woff) format('woff');
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
  }
  
  /* roboto-latin-700-italic */
  @font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-display: auto;
	font-weight: 700;
	src: url(@fontsource/roboto/files/roboto-latin-700-italic.woff2) format('woff2'), url(@fontsource/roboto/files/roboto-latin-700-italic.woff) format('woff');
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
  }
  
  /* roboto-latin-900-italic */
  @font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-display: auto;
	font-weight: 900;
	src: url(@fontsource/roboto/files/roboto-latin-900-italic.woff2) format('woff2'), url(@fontsource/roboto/files/roboto-latin-900-italic.woff) format('woff');
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
  }

  :root {
    --main-fontstack: Roboto,sans-serif;
    --title-fontstack: Roboto,sans-serif;
	--main-light-blue: #052244;
	--main-dark-blue: #082046;
	--1: #97d4ee;
	--2: #76e994;
	--3: #8718a9;
	--4: #c98cca;
	--5: #404788;
	--6: #29af7f;
	--7: #3ba4b8; 
	--8: #a67cf3;
 
  } 
 
html, body {
	padding: 0px;
	margin: 0px;
	min-height: 100%!important;
	height: 100%!important;
	background-color: #ffffff;
	font-family: var(--main-fontstack);
  /* https://css-tricks.com/accessible-font-sizing-explained/#aa-avoid-setting-a-base-font-size */
	font-size: 100%;
	color: #333;
	line-height: 1.44em;
}

/* Site colours */ 
.b1-bg { background-color: #000000; color: white!important; }
.b2-bg { background-color: #333333; color: white!important; }
.bk-bg { background-color: #6D6D6D; color: white!important; }
.b3-bg, .github:hover { background-color: #999999; color: black!important; }
.b4-bg { background-color: #bbbbbb; color: black!important; }
.b5-bg, .off label { background-color: #dfdfdf; color: black!important; }
.b6-bg { background-color: #ffffff; color: black!important; }

.main-blue { background-color: var(--main-light-blue);}

h1,h2,h3,h4, .title, .subtitle { font-family: var(--title-fontstack); line-height: 1em; }
h1, .title { font-size: 2em; margin-top: 1em; font-weight: 600; }
h2 { font-size: 1.4em; margin-top: 1.764706em; font-weight: 500; }
h3 { font-size: 1.2em; margin-top: 1.428571em; }
h1:first-child, h2:first-child, h3:first-child, .title { margin-top: 0; }
h1 + *, h2 + *, h3 + * { margin-top: 1em; }
strong { font-weight: 700; }
em { font-style: italic; }
a { text-decoration: underline; color: inherit; }
p, time, li, td, th, footer, div { font-weight: 300; }
p, iframe, h2, h3, figure, ul, ol, .block, .padded-bottom { margin-bottom: 1em; }
a:hover, a:focus { text-decoration: underline; }
a:visited { color: inherit; }
code,pre { font-family: monospace; color: #444; background-color: #efefef; }
code { padding: 0.125em 0.25em; }
ul { list-style: none; margin: 0; padding: 0; }
ol { list-style: decimal; }

button, .button { 
	margin-top: 0.25em; 
	border: 0px; 
	font-size: 1em; 
	background-color: #efefef; 
	color: black; 
	text-decoration: none!important; 
	display: inline-block; 
	padding: 0.5em 1em; 
	cursor: pointer; 
	vertical-align: top; 
	line-height: 1.25em; 
}
a.button:hover, button:hover, button:focus, a.button:focus { background-color: #333333!important; color: #efefef!important; }



.padded { padding: 1em; }
.padded-bottom { padding: 1em; margin-bottom: 1em; }
.doublepadded { padding: 2em; }
.spaced { margin-bottom: 1em; }
.centred { text-align: center; }
.tallpadded { padding-top: 3em; padding-bottom: 3em; }
section { padding: 2em 0; }


/* Components */ 

.table-of-contents {
    padding:2em;
	margin-top:2em;
	border-style: solid;
    border-width: 1px;
    border-color: #bbbbbb;
  }

  .table-of-contents p:first-child,ul{
	padding:0;
	margin:0;
  }

  .table-of-contents p {
	font-weight: 400;
  }

  .table-of-contents ul { 
	list-style:none;
  }

  .table-of-contents li { 
	padding-left: 3em; 
  }

/* Grids */


.holder { position: relative; width: 1080px; max-width: 100%; margin: auto; }
.holder.padded > *:last-child { margin-bottom: 0; }

.grid { display: grid; grid-template-columns: repeat(2,1fr); grid-gap: 1em; }
.grid .pane { 
	background: var(--main-dark-blue); 
	justify-content: center;
	min-height:200px;
	color: #ffffff;
}
.grid .pane h2 { 
	padding: 2em;
	text-align: center;
}

.grid .pane h3 { 
	padding-top:1em;
	margin: 0;
	text-align:center;
}

.grid .pane p { 
	font-size: 1em;
	max-width: 900px;
	padding-top: 2em; 
	margin:auto;
}

.listing-pane {
	background: var(--main-dark-blue); 
	color: #ffffff;
	padding: 2em; 
	vertical-align:middle;
	text-align:center;
}

/* Header */

.site-header {
	left: 0;
	right: 0;
	top: 0;
	z-index: 1002;
  }

.site-header-content { 
	align-items: center;
	padding-top: 1.55em;
	padding-bottom: 1.55em;
	gap: 1em;
	width: 90%;
	max-width: 1600px;
}

.header-grid { display: flex; flex-direction: row; justify-content: space-between; align-items: center; list-style: none;}


.header-holder { max-width: 1080px; position: relative; margin: auto;}

header a { text-decoration: none; line-height: 0; }

header h1 { margin-top: 0; }

header nav ul {
	font-size: 1.2em;
	position: relative;
	font-family: var(--main-fontstack);
	display: flex;
	justify-content: right;
}
header nav ul li { display: inline-block; }
header nav ul > li > a { padding: 0.5em 1em;width: 100%; color: inherit; }
header nav ul > li > a:hover, header nav ul > li > a:focus { background: white; color: black; }

/* Footer */

.elsewhere { float: right; margin-top: 0; }
.elsewhere li { display: inline-block; margin-left: 0.5em; }
.elsewhere li:first-child { margin-left: 0; }
.elsewhere li a { line-height: 0; display: block; }

footer { width: 100%; padding-bottom: 3em; }
footer h2 + p { margin-top: 1em; }
footer .address { margin-top: 1em; }
footer a { color: inherit; }
footer hr.about { margin: 32px 0; border: 0; border-top:1px solid #444; }

/* Viz */ 

.oi-viz { padding:1em; padding-left:0;}

.oi-viz .skip-link {
	z-index: 2000;
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	margin: 0;
	overflow: hidden !important;
	clip: rect(0 0 0 0) !important;
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;
	white-space: nowrap !important;
	display: inline-block;
	top: 0;
	left: 0;
}

.oi-legend { margin-bottom: 2em; }
.oi-legend .oi-legend-items { display: flex; flex-direction: row; align-items:center; justify-content: center;}
.oi-legend .legend-item { display: inline-block; line-height: 1em; margin-right: 1em; cursor: pointer; }
.oi-legend-icon { padding-left: 1em; vertical-align: middle; }
.oi-legend-label { padding-left: 1em; font-size: 1em; vertical-align: middle;}

g.axis-grid text {
	fill: #ffffff!important;
}

g.axis-grid axis-grid-x {
	margin:0!important;
}

@media only screen and (max-width: 1080px) {
	.grid { grid-template-columns: 100%; }
}

@media only screen and (max-width: 800px) {
	.elsewhere { float:none; margin-left: 0; margin-bottom: 1em; }
}
