---
title: Data
page: data
---

{% comp "dashboard.panels", { columns: 4 } %}

	{% comp "dashboard.listing-pane", { fg: 'white', link: "/data/nhs/" }%}

    <h2>NHS</h2>
    <p>Mental Health Bulletin 2022-23</p>

    {% endcomp %}
{% endcomp %}